@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Anton, sans-serif;
  overflow-x: hidden;
}

.tele{
height: 2.3rem;
  margin-top: 1rem;
  cursor: pointer;
}

.pro {
  margin-top: 1rem;
  margin-left: .9rem;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}


.head-logo {
  width: 100%;
  height: 4rem;
  padding: 0rem 3rem;
  background-color: #2a2a72;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-head-part {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.head-cart{
  
  height: 2.4rem;
  width: 8rem;
  font-weight: 900;
  font-size: 1.3rem;
  color: #009ffb;
  border-radius: 10px;
  background: none;
  border: 1px solid #009ffb;

}

.head-cart:hover{

  background-color: #009ffb;
  color: #2a2a72;
  cursor: pointer;
}

#cartt:hover{
  background-color: #2a2a72p;
}


.title {
  font-family: Anton, sans-serif;
  color: #2a2a72;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 500;
}


.left-container {
  margin-top: 1rem;
  margin-left: 5rem;
}

.pixels {
  height: 30rem;
}


.model {
  margin-left: 5rem;
  margin-top: -2rem;
  color: black;
  font-weight: 500;
}

.developer {
  margin-left: 5rem;
  margin-top: 1rem;
  color: #6c757d;
}

.price {
  color: #2a2a72;
  margin-left: 5rem;
}


.right-container {
  margin-top: -27rem;
  margin-left: 35rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;

}

.product-info {
  margin-left: 5rem;
}

.description {
  margin-left: 5rem;
  font-family: Anton, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #6c757d;
}


.buttons {
  padding: 1rem;
  margin-left: 34rem;
  display: flex;
  gap: 1rem;
  margin-left: 39rem;
}

.back,
.cart {
  font-family: Anton, sans-serif;
  height: 2.5rem;
  width: 13rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 10px;
  color: #009ffd;
  border: 1px solid #009ffd;
  background: none;
}

.back:hover {
  background-color: #009ffd;
  color: #2a2a72;
  transition: 1s;
  cursor: pointer;
}

.cart {
  width: 8.5rem;
  color: #ffa400;
  border: 1px solid #ffa400;
  background: none;

}

.cart:hover {
  background-color: #ffa400;
  color: #2a2a72;
  transition: 1s;
  cursor: pointer;
}